$header-height: 52px;

%menu-chevron {
	content: '';
	display: block;
	height: $spacing*0.75;
	width: $spacing*0.75;
	transform: rotate(90deg);
	background-image: url($path + 'icons/chevron-right.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

%menu-gradient-line {
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	bottom: $spacing/2;
	left: 0;
	background: transparent linear-gradient(90deg, get-default-color('primary') 0%, get-default-color('background') 100%) 0% 0% no-repeat padding-box;
}

.navigation {
	color: get-font-color('on_primary');
	flex: 1 1 auto;

	// Breakpoints
	@include media-breakpoint-down(md) {
		display: none;
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		z-index: get-layer('above-middle');
		left: 0;
		right: 0;
		height: calc(100vh - #{$header-height});
		background-color: get-default-color('background');
		color: get-font-color('base');

		&.is-nav-open {
			display: block;
		}
	}

	// Reset list styling
	li {
		list-style: none;
	}

	// Mobile only camping main menu
	&__camping-sites {
		margin: 0;
		padding: 0;
	}

	// Main dropdown menu
	&__main {
		margin: 0;
		padding: 0;

		// Breakpoints
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
			max-height: calc(100vh - #{get-size('header-height-device')});
			overflow: scroll;
		}

		// Hide when the list is a dropdown menu
		.js-submenu & {
			display: none;
		}

		// Show when active
		.js-submenu.is-active-menu & {
			display: flex;
			flex-direction: column;
			padding-bottom: $spacing * 1 / 3;
			padding-left: $spacing * 2 / 3;
			padding-right: $spacing * 2 / 3;
			padding-top: 0;
			position: absolute;
		}
	}
	&__item {
		display: inline-flex;
    line-height: 20px;



		// Breakpoints
		@include media-breakpoint-down(md) {
			width: 100%;
      display: inline-block;
      //line-height: initial; STUB -
      line-height: 20px;
		}

		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			padding-right: 0;
		}

		//- Modifiers
		&.--search {
			background-color: get-default-color('surface');
			padding: $spacing * 0.5;
		}

    .navigation__item {
      display: inline-block;
      line-height: 20px;
    }
	}

	&__link {
		display: inline-block;
		padding: 3px 0;

		&:hover {
			text-decoration: underline;
		}
	}



	&__item-label,
	&__nav-item {
		display: block;
		position: relative;
		padding: 27.5px $spacing/2;
		cursor: pointer;
		user-select: none;

		// Gradient line
		&:before {
			@extend %menu-gradient-line;
			left: $spacing/2;
			right: $spacing/2;
			max-width: calc(100% - #{$spacing});
		}

		// Hide the gradient line when the menu item is open
		.is-active-menu &:before {
			content: unset;
		}

		// Camping menu item
		&.--main {
			padding-top: 23px;
		}
		&.--has-chevron.--main {
			padding-right: 10px;
		}


		// Breakpoints
		@include media-breakpoint-up(lg) {
			&:before {
				content: unset;
			}
		}

		@include media-breakpoint-down(md) {
			display: flex;
			justify-content: space-between;
			padding: $spacing/2 $spacing/2;
			font-weight: get-font-weight('extrabold');
		}

		// Events
		&:hover {
			text-decoration: underline;
		}

		// States
		.is-active-menu & {
			@include media-breakpoint-up(lg) {
				text-decoration: underline;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					border-bottom: $spacing/2 solid #fff;
					border-left: $spacing/2 solid transparent;
					border-right: $spacing/2 solid transparent;
				}
			}

			@include media-breakpoint-down(md) {
				&:after {
					transform: rotate(-90deg);
				}
			}
		}

		// Hide chevron on the main camping item label
		.is-active-menu &.--main {
			@include media-breakpoint-up(lg) {
				&::after {
					content: unset;
				}
			}
		}


		// Modifiers
		&.--has-chevron {
			padding-right: 25px;

			&::after {
				@extend %menu-chevron;
			}

			// Remove chevron on desktop
			@include media-breakpoint-up(lg) {
				&::after {
					content: unset;
				}
			}

			// Hide gradient and chevron on main camping menu item
			&.--main {
				&::after,
				&::before {
					content: unset;
				}
			}
		}

		&.--flags {
			cursor: default;

			&::before {
				content: unset;
			}
		}
	}

	&__label-wrapper {
		border-right: 1px solid get-default-color('background');
		font-size: get-font-size('label');
		font-weight: get-font-weight('extrabold');
		padding-left: 4px;
		padding-right: 50px;
		position: relative;

		@include media-breakpoint-down('md') {
			border-right: none;
		}
	}

	&__item-label-camping {
		font-size: get-font-size('base');
		font-weight: get-font-weight('base');
		line-height: 1;

		@include media-breakpoint-down('sm') {
			font-size: get-font-size('femto');
		}
	}

	&__item-sublabel {
		font-size: get-font-size('label');
		font-weight: get-font-weight('extrabold');
		line-height: 1;

		@include media-breakpoint-down('sm') {
			font-weight: get-font-weight('bold');
		}
	}

	&__item-label {
		overflow: hidden;
	}

	&__chevron {
		position: absolute;
		right: 0;
		top: 33px;

		&.--primary {
			right: 25px;
			top: 12px;
		}

		.is-active-menu & {
			transform: rotate(180deg);
		}

		.navigation__camping-sites & {
			position: relative;
			right: -15px;
			top: -1px;
		}
	}

	/* &__flags-wrapper {
		margin-right: 0;
		position: absolute;
		right: 0;

		@include media-breakpoint-down(md) {
			position: static;
			right: auto;
			width: auto;
		}

		@include media-breakpoint-up(xl) {
			margin-right: $spacing * 3;
		}
	} */

	&__country-flag {
		margin-right: 15px;
	}

	&__nav-item {

		&:last-of-type {
			font-weight: get-font-weight('base');
		}
	}

	// Mobile only close button
	&__close-nav {
		cursor: pointer;
		font-size: get-font-size('milli');
		padding: 12px 20px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: get-layer('below-top');

		@include media-breakpoint-up('md') {
			display: none;
		}
	}

	&__close-nav-icon {
		margin-left: 10px;
		position: relative;
		top: 1px;
		width: 13px;
	}


	// Frontpage: megamenu
	// Mobile: a block
	&__submenu {

		// Breakpoints
		@include media-breakpoint-up(lg) {
			display: none;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 100%);
			min-height: 430px;
			max-height: calc(90vh - #{get-size('header-height-desktop') + $spacing});
			width: 100%;
			max-width: 1640px;
			overflow: hidden;
			padding: $spacing;
			flex-wrap: wrap;

			background-color: get-default-color('background');
			color: get-font-color('on_background');
			box-shadow: -1500px 0 0 0 white, 1500px 0 0 0 white, 15vw 50px 60px -90px #000029, -15vw 50px 60px -90px #000029;

			&.--camping {
				box-shadow: 0 25px 60px #00000029;
				left: initial;
				max-height: none;
				width: auto;
			}

			&.--main {
				background-color: get-default-color('quinary');
				color: get-font-color('on_primary');
				font-size: get-font-size('smaller');
				font-weight: get-font-weight('base');
				outline: 2px solid get-default-color('quinary');
				padding: $spacing / 3 0;
			}

			.is-active-menu & {
				display: flex;
			}
		}

		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
			max-height: 0;
			overflow: hidden;
			padding-left: 30px;

			.is-active-menu & {
				max-height: 200vh;
			}
		}

		// Toggle inner submenu when active
		& > .navigation__item--expanded.is-active-nav-group {
			& > .navigation__submenu-inner {
				@include media-breakpoint-down(md) {
					max-height: 500vh;
				}
			}
		}

		// Flip the chevron when the inner submenu is active
		& > .navigation__item--expanded.is-active-nav-group {
			& > .navigation__item-label {
				&:after {
					transform: rotate(-90deg);
				}
			}
		}


		// Child elements
		// List item without submenu
		& > .navigation__item {

			@include media-breakpoint-down(md) {
				padding-right: 25px;
			}

			& > .navigation__link {

				@include media-breakpoint-down(md) {
					padding: 10px 0;
				}
			}
		}

		// List item with submenu
		& > .navigation__item--expanded {

			// Breakpoints
			@include media-breakpoint-up(lg) {
				flex: 0 1 33%;
				min-width: 250px;
				padding-right: 30px;
			}

			// Submenu label
			& > .navigation__item-label {

				// Breakpoints
				@include media-breakpoint-up(lg) {
					font-size: get-font-size('lead');
					font-weight: get-font-weight('extrabold');
					position: relative;
					text-decoration: none;
					padding: 0 0 $spacing 0;

					// Hide chevron
					&:after {
						content: unset;
					}
				}

				@include media-breakpoint-down(md) {
					font-size: get-font-size('base');
					font-weight: get-font-weight('base');
					padding: $spacing / 3 0;

					// Hide gradient
					&:before {
						content: unset;
					}
				}

				// Gradient line under heading
				&:before {
					@extend %menu-gradient-line;
				}

				&:after {
					@extend %menu-chevron;
				}

				// States
				.is-active-nav-group & {
					&:after {
						transform: rotate(-90deg);
					}
				}
			}


			// This item contains an inner submenu
			& > .navigation__submenu-inner {
				@extend %container-styling;
				display: flex;
				flex-direction: column;

				// Breakpoints
				@include media-breakpoint-up(lg) {
					flex-wrap: wrap;
					margin: 0;
					max-height: 310px;
					padding: 0;
				}

				@include media-breakpoint-down(md) {
					max-height: 0;
					overflow: hidden;
					padding: 0 $spacing / 2;
				}


				// Inner submenu item
				& > .navigation__item {

					// Breakpoints
					@include media-breakpoint-up(lg) {
						cursor: pointer;
						//max-width: 200px;//Stub
						padding: 0 0 5px 0;

						&:hover {
							text-decoration: underline;
						}
					}

					@include media-breakpoint-down(md) {
						padding: 0;

						&:first-of-type {
							margin-top: $spacing / 3;
						}

						&:last-of-type {
							margin-bottom: $spacing / 3;
						}
					}

					// Inner submenu item label
					& > .navigation__item-label {
						font-size: get-font-size('smaller');
						font-weight: get-font-weight('base');

						// Breakpoints
						@include media-breakpoint-up(lg) {
							display: inline;
							padding: 0;
							text-decoration: none;

							&::after {
								content: unset;
							}
						}

						@include media-breakpoint-down(md) {
							display: inline-block;
							padding: 8px 0;
							width: 100%;
						}
					}
          & > .see_all.navigation__item-label {
            // Breakpoints
            @include media-breakpoint-up(lg) {
              &::before {
                content: '';
                background-image: url('/themes/custom/dcu/assets/icons/chevron-right.svg');
                display: inline-block;
                width: 15px;
                height: 15px;
                position: relative;
                top: 0;
                left: -5px;
              }
            }

          }
				}
			}
		}
	}

	// Camping sites: dropdown menu
	.campsite__sub &__submenu {

		// Breakpoints
		@include media-breakpoint-up(lg) {
			background: get-default-color('background');
			color: get-font-color('base');
			box-shadow: 0px 25px 60px #00000029;
			max-width: 290px;
			min-height: 0;
			flex-direction: column;
			padding: $spacing;
			position: absolute;
			width: auto;
		}

		// Hide the submenu on small devices
		@include media-breakpoint-down(md) {
			max-height: 0;
		}

		& > .navigation__item {

			// Breakpoints
			@include media-breakpoint-up(lg) {
				font-size: get-font-size('smaller');
				padding: 5px 0;
			}
		}
	}

	// Toggle submenu
	&.campsite__sub {
		.is-active-menu {
			.navigation__submenu {
				@include media-breakpoint-down(md) {
					max-height: 200vh;
				}
			}
		}
	}

	// About us navigation
	&__about-us {
		position: absolute;
		top: 100%;
		display: none;
		flex-direction: column;
		background: get-default-color('surface');
		box-shadow: 0px 75px 99px #00000029;
		color: get-font-color('base');
		transition: all ease-out 100ms;
		z-index: 1000;
		margin: 0;
		padding: 15px;
		left: -14px;
		min-width: 200px;


		@include media-breakpoint-down(sm) {
			min-width: 140px;
		}

		> .navigation__item {

			> .navigation__item-label {
				font-size: get-font-size('smaller');
				padding: 6px 0;

				@include media-breakpoint-down(md) {
					font-size: get-font-size('milli');
					font-weight: get-font-weight('base');
				}

				&::before {
					content: unset;
				}
			}
		}
	}

	// Toggle dropdown menu
	.is-nav-open &__about-us {
		display: flex;
    .navigation__item {
      line-height: 20px;
    }
	}


	// User navigation - logged out
	&__user {
		> .navigation__item {
			> .navigation__item-label {
				font-size: get-font-size('smaller');
				padding: 1px 0;
				white-space: nowrap;

				@include media-breakpoint-down(md) {
          padding: 0; //Stub
					font-size: get-font-size('milli');
					font-weight: get-font-weight('base');
				}

				&::before {
					content: unset;
				}
			}
		}
	}

	// User navigation - logged in
	.user-logged-in &__user {
		position: absolute;
		top: 100%;
		display: none;
		flex-direction: column;
		background: get-default-color('surface');
		box-shadow: 0px 75px 99px #00000029;
		color: get-font-color('base');
		transition: all ease-out 100ms;
		z-index: 1000;
		margin: 0;
		padding: 15px;
		left: -14px;
		min-width: 200px;

		@include media-breakpoint-down(sm) {
			min-width: 140px;
      left: -90px;
		}
	}

	// Toggle dropdown menu
	.user-logged-in .is-nav-open &__user {
		display: flex;
	}


	&__menu-group {
		$column-width: 14.28%; // 7 columns total
		display: flex;
		flex-direction: column;
		flex-basis: $column-width;

		// Hacky override for the camping submenus
		.navigation__submenu.--camping & {
			flex-basis: auto;
			max-width: 230px;
		}

		// No max width for the main submenu
		.navigation__submenu.--camping.--main & {
			max-width: none;
		}


		// Breakpoints
		@include media-breakpoint-up(lg) {
			&.--columns-1 {
				flex-basis: $column-width;
			}
			&.--columns-2 {
				flex-basis: $column-width*2;
			}
			&.--columns-3 {
				flex-basis: $column-width*3;
			}
			&.--columns-4{
				flex-basis: $column-width*3;
			}

		}

		@include media-breakpoint-down(md) {
			flex-basis: 100%;
		}
	}


	&__group-heading {
		position: relative;

		// Gradient line under heading
		&:before {
			@extend %menu-gradient-line;
		}

		&:after {
			@extend %menu-chevron;
		}


		// Breakpoints
		@include media-breakpoint-up(lg) {
			padding-bottom: $spacing;

			font-weight: get-font-weight('extrabold');

			// Hide chevron
			&:after {
				content: unset;
			}
		}

		@include media-breakpoint-down(md) {
			display: flex;
			justify-content: space-between;
			padding: $spacing/2 0 $spacing/2 $spacing/2;

			// Hide gradient
			&:before {
				content: unset;
			}
		}


		// States
		.is-active-nav-group & {
			&:after {
				transform: rotate(-90deg);
			}
		}


	}


	&__group-items {
		columns: 1;


		// Breakpoints
		@include media-breakpoint-up(lg) {
			.--columns-1 & {
				columns: 1;
			}
			.--columns-2 & {
				columns: 2;
			}
			.--columns-3 & {
				columns: 3;
			}
			.--columns-3 & {
				columns: 4;
			}
		}

		@include media-breakpoint-down(md) {
			max-height: 0;
			overflow: hidden;

			// Standard "blue" navigation for active menu
			.is-active-menu & {
				max-height: 500vh;

				// Prevent mobile submenus from being opened before click
				@include media-breakpoint-down(md) {
					max-height: 0;
				}
			}

			// Standard "blue" navigation for nav groups
			.is-active-nav-group & {
				max-height: 500vh;
			}

			// "Green" camping deviations
			.is-active-menu .navigation__submenu.--camping &,
			.navigation__camping-sites .is-active-menu & {
				max-height: 500vh;
			}
		}
	}


	&__group-item {
		display: block;
		margin-bottom: $spacing/3;

		font-size: get-font-size('smaller');


		// Breakpoints
		@include media-breakpoint-down(md) {
			padding: $spacing/4 $spacing/2 $spacing/4 $spacing;

			&:last-of-type {
				margin-bottom: $spacing;
			}
		}


		// Events
		&:hover {
			text-decoration: underline;
		}

		&:active {
			color: get-color('nav_active')
		}

		.navigation__submenu.--camping & {
			padding: 0 0 $spacing / 6 $spacing / 2;
		}
	}
}

// Custom select in the camping navigation
.campsite__main {
	@include media-breakpoint-down(md) {
		display: inline-block;
		max-width: 400px;
	}

	@include media-breakpoint-down(md) {
		max-width: calc(100% - 60px);
	}

	 /* The container must be positioned relative: */
	.custom-select,
	.campsites-custom-select {
		position: relative;
		height: 100%;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// DCU select styling
	.campsites-custom-select {

		@include media-breakpoint-down(md) {
			justify-content: space-around;
		}

		& .custom-label {
			padding-left: 16px;

			@include media-breakpoint-down(md) {
				font-size: get-font-size('femto');
				padding-top: 7px;
			}
		}

		& .select-selected {
			padding-top: 0;

			@include media-breakpoint-down(md) {
				font-weight: get-font-weight('bold');
				padding-top: 2px;
			}


		}

		& .select-items {
			border: none;
			border-radius: 0;
			color: get-font-color('on_primary');
			max-height: 80vh;
			overflow: scroll;
			overflow-y: scroll;

			@include media-breakpoint-down(sm) {
				left: -15px;
				top: 43px;
				width: 100vw;
				max-height: calc(100vh - 98px);
				flex-direction: column;
				flex-wrap: wrap;
				overflow-y: scroll;
				padding-bottom: 8px;
			}
		}

		& .select-items div {
			font-size: get-font-size('smaller');
			padding: 5px 16px;

			@include media-breakpoint-down(sm) {
				font-size: get-font-size('select');
				padding: 3px 30px;
			}
		}
	}

	.custom-select select,
	.campsites-custom-select select {
		display: none; /*hide original SELECT element: */
	}

	.select-selected {
		background-color: get-default-color('quinary');
		font-size: get-font-size('label');
		font-weight: get-font-weight('extrabold');
		line-height: 1;
		width: 250px;

		@include media-breakpoint-down(md) {
			font-size: get-font-size('base');
			width: 300px;
		}

		@include media-breakpoint-down(sm) {
			font-size: get-font-size('smaller');
			width: 250px;
		}
	}

	/* Style the arrow inside the select element: */
	.select-selected:after {
		position: absolute;
		content: "";
		top: 36px;
		right: 8px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: #fff transparent transparent transparent;

		@include media-breakpoint-down(md) {
			top: 21px;
		}
	}

	/* Point the arrow upwards when the select box is open (active): */
	.select-selected.select-arrow-active:after {
		border-color: transparent transparent #fff transparent;
		top: 29px;

		@include media-breakpoint-down(md) {
			top: 15px;
		}
	}

	/* style the items (options), including the selected item: */
	.select-items div,.select-selected {
		color: #ffffff;
		padding: 8px 16px;
		border: 1px solid transparent;
		// border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
		cursor: pointer;
	}

	/* Style items (options): */
	.select-items {
		position: absolute;
		background-color: get-default-color('quinary');
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		width: 300px;
	}

	/* Hide the items when the select box is closed: */
	.select-hide {
		display: none;
	}

	.select-items div:hover, .same-as-selected, .select-selected:hover {
		text-decoration: underline;
	}
}




// User navigation differs a bit from navigation
.user-navigation-menu {
	display: none;

	@include media-breakpoint-up('md') {
		background: get-default-color('surface');
		box-shadow: 0 75px 99px #00000029;
		color: get-font-color('base');
		position: absolute;
		right: 83px;
		top: 0;
		transition: all ease-out 100ms;
	}

	&.is-nav-open {
		display: block;
	}

	&__main {
		@include media-breakpoint-up('md') {
			padding: 0 $spacing * 0.5 $spacing;
		}
	}

	&__nav-item {
		@include media-breakpoint-up('md') {
			padding: 5px 0;
		}
	}
}

.navigation__user {
  margin: 0;
  @include media-breakpoint-down(md) {
    //margin-top: -5px;
    //margin-right: 10px;
  }
}


// DCU Drupal classes
// Language selector
.language-switcher-language-url {
  ul {
    margin: 0;
    list-style: none;
    display: inline-flex;
    li {
      padding-left: 0;
      padding-right: 15px;

      img {
        width: 25px;
      }
      //@include media-breakpoint-up(md) {
      @include media-breakpoint-up(md) {
        padding-left: 10px;
        padding-right: 0;
        img {
          width: 35px;
        }
      }
    }
  }
}
