/* Signup styles from Anders */
// moved from extra.scss
.signup {
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
  
    .steps {
      position: relative;
    }
  
    .inner{
      width: 100%;
      z-index: 1;
    }
  
    .steps ul {
      list-style-type: none;
    }
  
    .steps li{
      float: left;
      width: 30%;
      position: relative;
      text-align: center;
    }
  
    .steps ul{
      counter-reset: step;
    }
  
    .steps ul li:before{
      content:counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      border: 1px solid #979797;
      display: block;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      line-height: 27px;
      background: white;
      color: #bebebe;
      text-align: center;
      font-weight: bold;
    }
  
    .steps ul li:after{
      content: '';
      position: absolute;
      width:100%;
      height: 2px;
      background: #979797;
      top: 15px;
      left: -50%;
      z-index: -1;
    }
  
    /* Ingen streg ved første */
    .steps ul li:first-child:after{
      content: none;
    }
  
    .steps ul li.active {
      color: #b11116;
    }
  
    .steps ul li.active:before{
      border-color: #b11116;
      background: #fff;
      color: #b11116;
    }
  }
  